/*
Google Fonts
font-family: 'Pirata One', cursive;
    Thin 100, 
    Thin 100 Italic, 
    Extra-Light 200, 
    Extra-Light 200 Italic, 
    Light 300, 
    Light 300 Italic, 
    Regular 400, 
    Regular 400 Italic, 
    Medium 500, 
    Medium 500 Italic, 
    Semi-Bold 600, 
    Semi-Bold 600 Italic, 
    Bold 700, 
    Bold 700 Italic, 
    Extra-Bold 800, 
    Extra-Bold 800 Italic, 
    Black 900, 
    Black 900 Italic
font-family: 'Roboto', sans-serif;
    Thin 100, 
    Thin 100 Italic, 
    Light 300, 
    Light 300 Italic, 
    Regular 400, 
    Regular 400 Italic, 
    Medium 500, 
    Medium 500 Italic, 
    Bold 700, 
    Bold 700 Italic, 
    Black 900, 
    Black 900 Italic
font-family: 'Roboto Serif', sans-serif;
    Regular 400
*/

:root {
    --bg-clr: #0d203d;
    --txt-clr: #ffffff;

    font-family: 'Roboto', sans-serif;

    background-color: var(--bg-clr);
    color: var(--txt-clr);

}

html, body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

nav>ul {
    display: flex;
    margin: auto;
    width: max-content;
}

nav>ul>li {
    list-style-type: none;
    padding: 0.5rem 1rem;
}

.logo {
    margin: 1rem;
}

.pic-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.screenshot {
    margin: 1rem;
    max-width: 25rem;
    width: 30%;
}

@media (max-width: 1100px) {
    .pic-row {
        flex-direction: column;
        align-items: center;
    }

    .screenshot {
        width: 90%;
    }
}